In [1]:
import warnings
warnings.filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

##### Importing Relevant Packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##### Reading the csv file

In [4]:
url = 'https://bit.ly/HDSC-StageOneDataset'
df = pd.read_csv(url, error_bad_lines=False)

In [5]:
df.head(3)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650

##### Question 1

In [6]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

To get the required output which is [1,2,3,4,5,6,13, 21, 34], we'll use list.extend that works on iterables

In [7]:
A.extend(B)

In [8]:
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

##### Question 2

In [9]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

##### Question3

In [76]:
df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

##### Question 4

In [13]:
df.fuel_mmbtu_per_unit.describe()['std'], df.fuel_mmbtu_per_unit.describe()['75%']

(10.600220307806886, 17.006)

##### Question 5

In [14]:
df.fuel_qty_burned.skew(), df.fuel_qty_burned.kurt()

(15.851495469109503, 651.3694501337732)

##### Question 6

In [28]:
total = df.shape[0]

In [29]:
perc = (df.isna().sum()['fuel_unit'] / total) * 100

In [30]:
print('{:.3f} is the percentage of missing values'.format(perc))

0.610 is the percentage of missing values

##### Question 7

In [31]:
df.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [32]:
df.fuel_unit.head(3)
df.fuel_unit.unique()

0    ton
1    ton
2    ton
Name: fuel_unit, dtype: object

array(['ton', 'mcf', 'kgU', 'bbl', 'gramsU', nan, 'mwdth', 'mmbtu',
       'mwhth', 'gal'], dtype=object)

The Feature is categorical and a good way to handle the missing values is to fill NaN by using the mode

#### Question 8

In [39]:
corr = df.corr()

In [40]:
corr['fuel_cost_per_unit_burned']

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

In [41]:
corr['fuel_cost_per_unit_burned'].abs().sort_values()[1:3]

fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
Name: fuel_cost_per_unit_burned, dtype: float64

##### Question 9

In [66]:
year_1994 = df.iloc[np.where((df.report_year==1994) & (df.fuel_type_code_pudl=='coal'))].fuel_cost_per_unit_burned.sum()
year_1994

14984.572000000002

In [67]:
year_1998 = df.iloc[np.where((df.report_year==1998) & (df.fuel_type_code_pudl=='coal'))].fuel_cost_per_unit_burned.sum()
year_1998

11902.597

In [70]:
perc = ((year_1998 - year_1994)/year_1994) * 100
print('{:.0f} percent change from 1994 to 1998'.format(perc))

-21 percent change from 1994 to 1998

##### Question 10

In [77]:
df.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending = False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64